.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 269px;
  padding: 40px;
  background-color: #2d0c3b;
  box-shadow: inset 0 0 12px 0 rgba(231, 189, 255, 0.2),
    0 0 12px 0 rgba(231, 189, 255, 0.05);
  display: grid;
  gap: 24px;
  border: 1px solid #0b0113; /* 添加正确的边框属性 */
  text-transform: uppercase;
}
p {
  margin: 0px;
}
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.04px;
  color: #ffffff;
  letter-spacing: 8px;
}
.Container {
  display: block;
}
.copywritingFirst {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.48px;
  letter-spacing: 8px;
  color: #ffffff;
}
.copywritingThree {
  font-weight: 400;
  font-size: 14px;
  line-height: 20.48px;
  letter-spacing: 8px;
  color: #ffffff;
}
.copywritingTwo {
  font-weight: 400;
  font-size: 14px;
  line-height: 17.92px;
  letter-spacing: 8px;
  color: #999999;
}
.copywritingFour {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.92px;
  letter-spacing: 8px;
  color: #294bff;
  text-decoration: underline;
}
.btnPlay {
  text-transform: uppercase;
  width: 480px;
  height: 44px;
  padding: 10px 0px 10px 0px;
  gap: 10px;
  opacity: 0px;
  background-color: #200d2f;
  color: #200d2f;
  border: 1px solid #0b0113;
  font-family: Silkscreen;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
}
.btnPlay:hover {
  background-color: rgba(255, 255, 255, 0.03);
  color: #ffffff;
}
.btnPlay:active {
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
}
.commonCls1 {
  animation: spin 5s linear infinite;
  -webkit-transform: rotate(3600deg);
  transform: rotate(3600deg);
  -webkit-transition: -webkit-transform 5s linear;
  transition: transform 5s linear;
  /* width: 100%; */
  height: 100%;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}