.container{
    width: 44px;
    /* padding-top: 70px; */
    background-color: #2a0d39;
    height: calc(100vh-70px);
    z-index: 9999999999999999999;
}
.container1{
    width: 213px;
    padding-left: 20px;

    background-color: #2a0d39;
    height: calc(100vh-70px);
    z-index: 9999999999999999999;
}
.container button {
    margin-left: 10px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, #b1b2d7,#8083cb);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    margin-bottom: 10px; /* 添加间距 */
}
.imgCon{
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.coordinates{
    display: inline-block;
    width: 50px;
    text-align: center;
    /* height: 40px; */
    width: 100%;
    z-index: 99999999;
    margin-bottom: 15px;
}
.a{
    color:#b261ed;
    /* display: inline-block; */
  
}
p{
    margin-bottom: 20px;
}
.fontCon{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-segoe-ui);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--white);
text-align: left;
font: normal normal 600 14px/19px Segoe UI;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.pointer{
    background-color: #130e0e;
    position: absolute;
    right: 43px;
    z-index: 9999999999999999;
    top: 60px;
    width:  6.29px;
    height: 10.48px;
    padding: 9.77px 3.86px 9.77px 5.86px;
    color: #000;
  }
.pointer1{
    background-color: #130e0e;
    position: absolute;
    right: 210px;
    z-index: 9999999999999999;
    top: 60px;
    width:  6.29px;
    height: 10.48px;
    padding: 9.77px 3.86px 9.77px 5.86px;
    color: #000;
  }
  /* .pointerBox{
    width: 16px;
    padding: 9.77px 3.86px 9.77px 5.86px;
    height: 30px;
  } */
.bottomCon{
    width: 100vw;
    /* height:120px; */
    /* background-color: aqua; */
    position: fixed;
    bottom: 12px;
    /* margin-bottom: 20px; */
    color: #fff;
}