.contBox {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  flex: 1 1 0%;
  height: calc(100vh - 60px);
}
.contBox1 {
  z-index: 10;
  padding-left: 15px;
  padding-right: 15px;
  flex: 1 1 0%;
  height: calc(100vh - 60px);
}
.container {
  background-color: #2f1643;
  height: calc(100vh - 60px);
  padding-bottom: 15px;
  position: absolute;
  right: 0px;
}
.container1 {
  margin-top: 60px;
  background-color: #2f1643;
  padding-bottom: 15px;
  height: calc(100vh - 60px);
  @keyframes slide-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .element {
    animation: slide-left 0.3s linear forwards;
  }
}
.btnGame {
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 15px;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.btnGame:first-child {
  padding-top: 15px;
}

.imgCon {
  width: 48px;
  height: 48px;
  border-radius: 3px;
  display: inline-block;
  background-color: #1f102e;
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  font-family: "Arial Unicode MS";
  text-align: center;
}
.imgCon1 {
  width: 48px;
  height: 48px;
  border-radius: 3px;
  display: inline-block;
  background-color: #7500ad;
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  font-family: "Arial Unicode MS";
  text-align: center;
}

.coordinates {
  display: inline-block;
  width: 50px;
  text-align: center;
  width: 100%;
  z-index: 99999999;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif !important;
}
.appName {
  color: #58b4ce;
  line-height: 50px;
  font-size: 20px;
  font-family: Silkscreen;
  font-style: cursive;
}
.appName1 {
  color: #fff;
  line-height: 50px;
  font-size: 20px;
  font-family: Silkscreen;
  font-style: cursive;
}
.a {
  color: #b261ed;
}
p {
  margin-bottom: 15px;
}
.commonCls1 {
  animation: spin 5s linear infinite;
  -webkit-transform: rotate(3600deg);
  transform: rotate(3600deg);
  -webkit-transition: -webkit-transform 5s linear;
  transition: transform 5s linear;
  width: 100%;
  height: 100%;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fontCon {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-19)
    var(--unnamed-font-family-segoe-ui);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
  text-align: left;
  font: normal normal 600 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-weight: 600;
  margin-left: 0.25rem;
}
.pointer {
  background-color: #2a0d39;
  position: absolute;
  left: -10px;
  top: 60px;
  width: 6.29px;
  height: 7.48px;
  padding: 9.77px 3.86px 9.77px 5.86px;
  color: #000;
}
.pointer1 {
  background-color: #2a0d39;
  width: 6.29px;
  height: 7.48px;
  padding: 9.77px 3.86px 9.77px 5.86px;
  color: #000;
}

.bottomCon {
  position: fixed;
  bottom: 12px;
  font-family: Arial, Helvetica, sans-serif !important;
  color: #fff;
  p{
    margin: 10px;
  }
}
.overlay {
  background-color: #200d2f;
}
