*{
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
  
}


canvas{
  z-index: 1 !important;
}
.container{
    background-color: #171717;
    height: 60px;
    width: 100%;
    /* padding: 5px 30px 5px 30px; */
    display: flex;
    position: relative;
position: fixed;
top: 0px;
z-index: 9999999;
}
.containerImg{
    width: 139px;
    height: 46px;
    justify-content:space-between;
    align-items: center;
    /* margin: 5px 0 5px 0; */
    position: absolute;
    top: 9px;
    left: 20px;
}
.addr{
    justify-content: right;
    color: #fff;
    position: absolute;
    right: 100px;
    /* width:150px; */
    height: auto;
    line-height: 50px;
    display: flex;
}
/* button{
  height: 20px !important;
} */
canvas{
  border:none;
}
.balanceNum{
  display: inline-block;
  margin-left: 25px;
}
.content{
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    width: 238px;
    height: 51px;
    position: absolute;
    /* top:50%; */
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    /* margin-top:-100px; */
    /* margin-left:-100px; */
    /* width: 180px; */
    background-color: #000000;
    /* padding-left: 50px;
    padding-right: 50px; */
    /* padding-top: 8px; */
    font-size: 20px;
    border-radius: 50px;
}
.spanData{
    display: inline-block;
    width: 78px;
    line-height: 36px;
    color: #19C0DB;
    padding-top: 8px;
    text-align: center;
    font-family: Silkscreen,cursive;
    /* font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/20px var(--unnamed-font-family-silkscreen);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--secondary);
text-align: center;
font: normal normal normal 16px/20px Silkscreen; */
/* letter-spacing: 0px; */
/* color: #19C0DB; */
/* opacity: 1; */
}
:root {
    --offset: 70px;
  }
  .btnBox{
    width: 80px;
    color: #a073e2;
    border: none;
    outline: none;
    background-color: #000;
  }
.btn1{
    color: #a073e2;
    color: #000;
    width: 20px;
    margin-bottom: 8px;
    height: 20px;
    font-size: 30px;
    border: none;
    outline: none;
    padding: 0px !important;
    background-color: #000;
}
.gray {
  filter: grayscale(100%); /* 将图片设置为灰色 */
  color: #a073e2;
  color: #000;
  width: 20px;
  margin-bottom: 8px;
  height: 20px;
  font-size: 30px;
  border: none;
  outline: none;
  padding: 0px !important;
  background-color: #000;
}
.bodyCon{
    /* width: 100%; */
    height: calc(100vh - 60px);
    margin-top: 60px !important;
    /* background-color:#2f1643; */
    position:relative;
}




.color-picker {
    display: flex;
    flex-wrap: wrap;
  }
  
  .color-option {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .indicator {
    position: absolute;
    inset: 5px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    opacity: 0;
  }
  
  .color-option.selected .indicator {
    opacity: 1;
  }
  .rightPart{
    /* position: fixed; */
    right: 0px;
    background-color: #2b0e3a;
    z-index: 9999999;
  }
  .canvasWrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  
  /* 自定义滚动条样式 */
  .canvasWrapper::-webkit-scrollbar {
    width: 8px;
  }
  
  .canvasWrapper::-webkit-scrollbar-track {
    background-color: #2a0d39;
  }
  
  .canvasWrapper::-webkit-scrollbar-thumb {
    background-color: #2f1643;
    border-radius: 4px;
  }
  
  .canvasWrapper::-webkit-scrollbar-thumb:hover {
    background-color: #2f1643;
  }


  .commonCls1{
    animation: spin 5s linear infinite;
    -webkit-transform: rotate(3600deg);
    transform: rotate(3600deg);
    -webkit-transition: -webkit-transform 5s linear;
    transition: transform 5s linear;
    width: 78px;
    height: 78px;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .loadingContainer{
    position: absolute;
    right: 150px;
    bottom:20px;
    width: 100px;
    height: 100px;
  }